body { 
	background:#eee;
}
.mdl-layout__header {
	background: #efcd0a;
}

.mdl-navigation__link > img {
	max-height: 35px;
}
.mdl-layout__drawer {
	background:#57362c;
}
.mdl-layout__drawer .mdl-navigation__link,
.mdl-layout__drawer .mdl-layout-title {
	color:#fff !important;
}
.mdl-layout__drawer .mdl-navigation__link:hover {
	background:#23100b !important;
}
.mdl-button--green {
	color: #a9e000;
}
.feed__title--void {
	color: #dcd5d3;
}

.feed__container--void {
	text-align: center;
}
.feed__image--void {
	width:30%;
	margin-top: 40px;
}

.mdl-radio {
	width:90%;
	margin:10px;
}

#get-picture {
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:9999;
	background: #efcd0a;
}

#get-picture > img {
	width:70%;
}

.cards {
	width:100%;
}

.card {
	float:left;
	width:95%;
	margin:10px 2.5%;
	background:#fff;
}

.card__header,
.card__title,
.card__image,
.card__image > img,
.card__text,
.card__actions {
	width:100%;
}
.card__title-text {
	font-size: 1.2em;
	line-height: 1.3em;
	margin:10px;
}
.card__form {
	padding: 10px;
}
.card__form button {
	width: 100%;
}
.card__form .mdl-textfield {
	width:100%;
}
.card__form .school-list {
	margin:10px 0px;
}
.card__text > p {
	font-size: 1.2em;
	margin:10px;
}

.login {
	width:90%;
	margin:0px auto;
	text-align: center;
}

.login img {
	width:100%;
	margin:40px 0px;
}

.login .title {
	color: #57362c;
	font-weight: bolder;
}

.login .mdl-button {
	margin-top: 20px;
	border:solid 1px #000;
}

.card__comments {
	padding:5px 15px;
}
.card__comments .mdl-textfield {
	width:100%;
}
.card__comment {
	border-bottom:solid 1px #eee;
	padding:10px;
}
.card__comment > p {
	margin:0;
}
.card__comment .mdl-button {
	float:right;
	margin-top: -25px;
}