body { 
	background:#eee;
}
.mdl-layout__header {
	background: #efcd0a;
}

.mdl-navigation__link > img {
	max-height: 35px;
}
.mdl-layout__drawer {
	background:#57362c;
}
.mdl-layout__drawer .mdl-navigation__link,
.mdl-layout__drawer .mdl-layout-title {
	color:#fff !important;
}
.mdl-layout__drawer .mdl-navigation__link:hover {
	background:#23100b !important;
}

.feed__title--void {
	color: #dcd5d3;
}

.feed__container--void {
	text-align: center;
}
.feed__image--void {
	width:30%;
	margin-top: 40px;
}

#get-picture {
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:9999;
	background: #efcd0a;
}

#get-picture > img {
	width:70%;
}

.cards {
	width:100%;
}

.card {
	float:left;
	width:95%;
	margin:10px 2.5%;
	background:#fff;
}

.card__header,
.card__title,
.card__image,
.card__image > img,
.card__text,
.card__actions {
	width:100%;
}
.card__title-text {
	font-size: 1.4em;
	margin:5px 10px;
}
.card__text {
	color:#666;
}
.card__form {
	padding: 10px;
}
.card__form button {
	width: 100%;
}
.card__form .mdl-textfield {
	width:100%;
}
.card__form .school-list {
	margin:10px 0px;
}
.card__text > p {
	font-size: 1.3em;
	margin:10px;
}
