<template name="feed">
	<div class="feed__container{{#unless complaints}}--void{{/unless}}">
	{{#if complaints}}
		<div class="cards">
		{{#each complaints}}
			<div class="card mdl-shadow--2dp">
				<div class="card__title">
					<h2 class="card__title-text">{{ schoolId }}</h2>
				</div>
				<div class="card__image">
					<img src="icone quadrado.png"/>
				</div>
				<div class="card__text">
					<p>{{descripition}}</p>
				</div>
				<div class="card__actions">
					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--4-col">
							<a href="#" class="mdl-button mdl-js-button">
								<i class="material-icons">group</i> Apoiar
							</a>
						</div>
						<div class="mdl-cell mdl-cell--4-col">
							<a href="#" class="mdl-button mdl-js-button">
								<i class="material-icons">comment</i> Comentar
							</a>
						</div>
						<div class="mdl-cell mdl-cell--4-col">
							<a href="#" class="mdl-button mdl-js-button">
								<i class="material-icons">share</i> Compartilhar
							</a>
						</div>
					</div>
				</div>
			</div>
		{{/each}}
		</div>
	{{else}}
		<img class="feed__image--void" src="/icone_mark.png"/>
		<h2 class="feed__title--void">Faça sua denúncia</h2>
	{{/if}}
	<!--<button id="get-picture">Denunciar!</button>-->
	</div>
</template>