<template name="defaultLayout">
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trombone</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div class="default-layout mdl-layout mdl-js-layout">
      {{> header}}
      <main class="mdl-layout__content">
        <div class="page-content">
            {{> Template.dynamic template=main}}
        </div>
      </main>
    </div> 
  </body>
</template>